.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 10px;
  width: 95%;
  justify-content: space-between;
  align-items: flex-start;
}

.todoInput {
  width: 100%;
  /* border-radius: 50px; */
  padding: 15px 30px;
  font-size: 25px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px black;
}

.todoInput:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
  outline: none;
}

.inputBtn {
  position: absolute;
  width: 50px;
  height: 40px;
  margin: 12px;
  right: 0px;
  border: none;
  font-size: 15px;
  background-color: #e42edb;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.inputBtn:hover {
  background-color: #ff00aa;
}

.inputBtn:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

.todos {
  display: flex;
  flex-direction: column;
  width: 47%;
  padding: 15px;
  background-color: mediumvioletred;
}

.todoHeading {
  font-size: 30px;
  color: white;
}
.todoSingle {
  display: flex;
  border-radius: 5px;
  padding: 20px;
  margin-top: 15px;
  background-color: mediumspringgreen;
  /* background-image: url(""); */
}
.todosText {
  flex: 1;
  padding: 5px;
  border: none;
  font-size: 20px;
}

.todosText:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }
  .todos {
    width: 95%;
  }
  .todoSingle {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}
